@page "/patients/new"
@attribute [Authorize(Roles = CustomRoles.Admin)]

<PageTitle>New Patient</PageTitle>

<MudGrid>
    <MudItem xs="12" sm="7">
        <!-- Patient Info -->
        <MudPaper Class="pa-4 ma-2">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" ReadOnly="false">
                <MudTextField @bind-Value="id" Label="Patient ID" Required="true" RequiredError="Patient ID is required!" />
                <MudTextField @bind-Value="lastName" Label="Last Name" Required="true" RequiredError="Last Name is required!" />
                <MudTextField @bind-Value="firstName" Label="First Name" />
            </MudForm>
        </MudPaper>

        <!-- Template Selection -->
        <MudPaper Class="ma-2 pa-2">
            <MudExpansionPanel DisableBorders="false" Dense="true">
                <TitleContent>
                    <div class="d-flex ma-n4">
                        <MudButtonGroup Class="ma-1" Variant="Variant.Outlined">
                            <MudText Class="pr-2">Add Template: </MudText>
                        </MudButtonGroup>
                    </div>
                </TitleContent>
                <ChildContent>
                </ChildContent>
            </MudExpansionPanel>
        </MudPaper>

        <!-- Groups listing -->
        <MudPaper Class="ma-2" >
            <!-- Group Importer -->
            <Radigate.Client.Components.Templates.GroupTemplateSelectComponent OnSubmitNewGroup="@AddGroup" />
            <!-- Group Listing -->
            <MudPaper Class="pa-2">
                @foreach (var group in groups) {
                    <Radigate.Client.Pages.Patients.Components.GroupModifyComponent Edit="true" Group="group" GroupChanged="@OnGroupDisplayUpdated" />
                }
            </MudPaper>
        </MudPaper>
        <!-- Submit Buttons-->
        <MudPaper Class="pa-4 mt-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@(()=> Submit())">Submit</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="@(()=> Reset())" Class="mx-2">Clear Form</MudButton>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" sm="5">
        <MudPaper Class="pa-4 mud-height-full">
            <MudText Typo="Typo.subtitle2">@($"Errors ({errors.Length})")</MudText>
                @foreach (var error in errors) {
                <MudText Color="@Color.Error">@error</MudText>
            }
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    [Inject] private NavigationManager NavigationManager { get; set; }
    [Inject] AuthenticationStateProvider AuthState { get; set; }
    [Inject] private IPatientService PatientService { get; set; }

    private string newGroupLabel = string.Empty;

    bool success { get; set; }
    string[] errors = { };
    MudForm? form;
    string id;
    string lastName, firstName;
    List<GroupDisplay> groups = new();

    private async Task AddGroup(GroupTemplate template) {
        var tasks = new List<TaskItem>();
        foreach (var t in template.TaskList()) {
            var task = new TaskItem();

            if(t.Item2 == (int)TaskType.List) {
                var list = GroupTemplate.TaskListToList(t);
                task.Label = list[0];
                list.RemoveAt(0);
                task.Type = t.Item2;

                var text = "";
                list.ForEach(s => text += ',' + s);
                task.Value = text;
            }
            else {
                task.Label = t.Item1;
                task.Type = t.Item2;
            }

            tasks.Add(task);

        }

        //is this a custom group or importing a group template?
        newGroupLabel = string.Empty;
        groups.Add(new GroupDisplay(new TaskGroup {
                Label = template.Label,
                Tasks = tasks
            }));

        foreach (var g in groups) g.SortingOrder = groups.IndexOf(g);
        StateHasChanged();
    }

    private async Task Submit() {
        if (!success) return;

        NewPatient patient = new NewPatient {
                FirstName = firstName is null ? string.Empty : firstName,
                LastName = lastName,
                Identifier = id
            };

        //task groups and tasks
        var newGroups = new List<string>();
        var newTasks = new List<NewTaskItem>();
        foreach (var group in groups) {
            newGroups.Add(group.Label);
            foreach (var task in group.Tasks) {
                var newTask = new NewTaskItem
                {
                    Label = task.Label,
                    Group = group.Label,
                    Type = (TaskType)task.Type,
                    Value = task.Value
                };

                newTasks.Add(newTask);
            }
        }
        patient.Groups = newGroups;
        patient.Tasks = newTasks;
        await PatientService.AddPatient(patient);
        NavigationManager.NavigateTo("patients/overview");
    }

    private async Task Reset() {
        groups = new();
        form.ResetAsync();
    }

    private async Task OnGroupDisplayUpdated(GroupDisplay group) {
        int index = groups.FindIndex(g => g.Label == group.Label);
        if (index < 0) return;

        //if negative sort order, delete the group
        if (group.SortingOrder != index){
            if (group.SortingOrder > groups.Count - 1) groups[index] = group; //ignore increment, too high
            else {
                groups.RemoveAt(index);
                if (group.SortingOrder >= 0) groups.Insert(group.SortingOrder, group);

            }

            //reset sort order variable
            foreach (var g in groups) g.SortingOrder = groups.IndexOf(g);
        } else {
            groups[index] = group;
        }


    }

}
